* {
    box-sizing: border-box;
}

body {
    font-family: "Tomorrow", sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: "New Amsterdam", system-ui;
}

h2.titulo-resaltado {
    background-color: #c095ed;
    padding: 0.5em;
    border-radius: 1em;
}

.contenedor-principal {
    margin: 0;
    background-color: #ff8c002a;
}

header,
footer {
    margin: 0;
    background-color: #7c58a3;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 10px rgba(51, 12, 75, 0.433);
}

.logo-50px {
    height: 50px;
}

.chevron-15px {
    height: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menú desplegable */

/* Botón del menú */
#flecha-abajo,
#flecha-arriba {
    background-color: #7c58a3;
    border: none;
    cursor: pointer;
}

/*--------*/

ul,
.apuesta {
    margin: 0;
    padding: 0.2em;
}

li {
    list-style: none;
    text-align: center;
}

/* Estilos para links */
a:link,
address a {
    color: #27153a;
    text-decoration: none;
    transition: font-size 0.4s;
}

a:visited,
address a {
    text-decoration: none;
    color: #27153a;
}

a:hover {
    font-size: 1.1em;
    color: rgba(41, 23, 70, 0.903);
}

a:active {
    color: rgb(245, 245, 245);
}

/*  */

/* resto de estilos para el footer */
.logos-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0.5em;
}

.footer-creditos p {
    margin: 0;
}

.logos-redes a img {
    height: 50px;
    transition: height 0.5s;
}

.logos-redes a img:hover {
    height: 55px;
}

/*  */

/* estilos contenido pagina */
main {
    margin: 1em;
    text-align: center;
    font-size: 1.2em;
    color: #27153a;
}

/*  */

/* Estilos Juego de CARTAS */

.nombre-jugador-cartas,
.nombre-jugador-dados {
    background-color: #e6993cbe;
    box-shadow: 0 4px 10px rgba(51, 12, 75, 0.433);
    border-radius: 1em;
    width: 80%;
    padding: 1em;
    margin: 1em;
}

.nombre-jugador-cartas label,
.nombre-jugador-dados label {
    font-size: 0.7em;
}

#nombre-jugador {
    margin: 0.3em;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: #ffffff9b;
    border-color: #27153a;
}

:placeholder-shown {
    font-family: "Tomorrow", sans-serif;
    text-align: center;
}

.carta {
    height: 160px;
    margin: 0.2em;
    background-color: #7c58a3;
    padding: 0.2em;
    border-radius: 0.5em;
}

.cartas-jugador,
.cartas-computadora {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio-buttons {
    visibility: hidden;
}

.link-reglas {
    text-decoration: underline !important;
    color: #7c58a3 !important;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 0.6em;
    margin: 1em;
    border: 2px solid #27153a;
    background-color: #7c58a3;
    color: #efdfff;
    font-family: "Tomorrow", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 0 4px 10px rgba(51, 12, 75, 0.433);
    transition: background-color 0.3s, border-color 0.3s, padding 0.3s,
        font-weight 0.3s;
}

/* Estilo cuando se hace hover sobre el boton */
.btn:hover {
    padding: 0.8em;
    font-weight: bold;
    background-color: #66359d;
    border-color: #350948;
}

/* Estilo cuando el botón está presionado */
.btn:active {
    background-color: #5b1d8d71;
    border-color: #4a0c6e;
    transform: scale(0.98);
    /* Efecto de presionar el botón */
}

.oculto {
    display: none;
}

#apuesta {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.3em;
}

.interfaz-cartas {
    background-color: #e6993cbe;
    margin: 1em 0;
    padding: 0.7em;
    border-radius: 1em;
}

#resultados .resultados-parciales p,
#resultado-final {
    background-color: #c095ed;
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1px solid #27153a;
    box-shadow: 2px 2px 5px rgba(81, 32, 111, 0.433);
}

.label-apuesta {
    font-size: 0.8em;
}

/* --------------------------------------------------------------------------- */
/* Estilos REGLAS Y TUTORIALES */
.links p {
    margin: 0;
}

.links {
    width: 60%;
    padding: 0.5em;
    background-color: #e6993cbe;
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgba(81, 32, 111, 0.433);
}

#reglas-cartas h3,
#reglas-dados h3 {
    margin: 1em 0 0;
}

.imagenes-titulo img {
    height: 60px;
    padding: 0.1em;
    border-radius: 0.2em;
    margin: 0 0.3em;
}

.imagenes-titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c095ed;
    margin: 1em 0.5em;
    padding: 0.2em;
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgba(81, 32, 111, 0.433);
}

#reglas-cartas,
#reglas-dados,
.instrucciones {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    max-width: 1100px;
    width: 100%;
}

.instrucciones li {
    margin: 0.3em 0;
}

.fondo-columnas {
    margin: 1em 0.5em;
    padding: 0.5em 1em;
    background-color: #e6993cbe;
    border-radius: 1em;
}

/* ------------------------------------------------------------------ */
/* ESTILOS JUEGO DEL DRAGÓN */
.altura-imagenes-dados {
    height: 86px;
}

.display-imagenes-dados {
    display: flex;
}

.estado-hp-dragon,
.estado-hp-caballero {
    background-color: rgb(99, 174, 99);
    padding: 0.3em 1em;
    border-radius: 2em;
    box-shadow: 2px 2px 5px rgba(81, 32, 111, 0.433);
}

.juego-dados {
    background-color: #e6993cbe;
    padding: 2em;
    border-radius: 1em;
    position: relative;
}

.botones-recuperar-hp {
    display: flex;
}

.botones-recuperar-hp .btn {
    padding: 0.5em;
    margin: 0.5em;
    text-transform: none;
    letter-spacing: 0;
}

.info-tirada {
    background-color: #24242541;
    margin: 0;
    padding: 13em 1em 10em 1em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.info-tirada div {
    background: #c095ed;
    padding: 0.2em;
    border-radius: 1em;
}

.info-tirada p {
    width: 18em;
    font-size: 0.7em;
}

/* ---------------------------------------------------------- */
/* TABLA DE POSICIONES */
.tabla-posiciones {
    background-color: #e6993cbe;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
    box-shadow: 0 4px 10px rgba(51, 12, 75, 0.433);
}

.tabla-posiciones table {
    width: 100%;
}

.tabla-posiciones h2 {
    margin: 0.2em;
}

.tabla-posiciones table {
    background-color: #7c58a3;
    color: #efdfff;
    border-radius: 0.5em;
    padding: 0.5em;
}

.tabla-posiciones th {
    padding: 0.5em;
}

.tabla-posiciones td {
    background-color: #c095ed;
    padding: 0.5em 0.1em;
    margin: 0;
    color: #27153a;
}

/* ---------------------------------------------------------- */
/* inicio */

.game-card {
    width: 80%;
    background-color: #e6993cbe;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

.game-card img {
    width: 90%;
    padding: 0;
    margin: 0;
}

.game-card h4,
.game-card p,
.game-card .btn {
    margin: 0.3em;
}

.titulo {
    background-color: #c095ed;
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    box-shadow: 0 4px 10px rgba(51, 12, 75, 0.433);
}

/* -------------------------------------------------------------- */
.btn-proyectos,
.btn-posiciones,
.btn-info-tirada {
    display: inline-block;
    padding: 0.2em;
    margin: 0.2em 0.4em;
    border: 2px solid #27153a;
    background-color: #7c58a3;
    color: #efdfff;
    font-family: "Tomorrow", sans-serif;
    text-align: center;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 0 4px 10px rgba(51, 12, 75, 0.433);
}

.proyectos-ancho {
    width: 300px;
}

.verde {
    background-color: rgb(99, 174, 99);
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1px solid rgb(46, 79, 46);
    box-shadow: 2px 2px 5px rgba(42, 74, 42, 0.5);
}

.amarilo {
    background-color: rgb(255, 211, 50);
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1px solid rgb(114, 93, 17);
    box-shadow: 2px 2px 5px rgba(74, 61, 11, 0.5);
}

.rojo {
    background-color: rgb(207, 51, 30);
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1px solid rgb(101, 26, 16);
    box-shadow: 2px 2px 5px rgba(65, 17, 10, 0.5);
}

.project-item img {
    background-color: #27153a;
    padding: 0.06em;
    box-shadow: 2px 2px 10px rgba(65, 17, 10, 0.5);
    border-radius: 0.5em;
}

.btn-proyectos {
    margin: 0 0 2em 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* MEDIA QUERY PARA DESKTOP */
@media (min-width: 1000px) {
    body {
        margin: 0;
        display: flex;
        justify-content: center;
        background: url(../img/fondo.png);
    }

    .contenedor-principal {
        width: 100%;
        max-width: 1200px;
        background-color: #ffecd5;
    }

    header,
    footer {
        flex-direction: row;
    }

    header button {
        display: none;
    }

    #menu {
        display: block;
    }

    #menu ul {
        display: flex;
    }

    #menu ul li {
        padding: 1em 1.5em;
    }

    /* FOOTER */
    #footer-row {
        flex-direction: row;
        justify-content: space-between;
    }

    #footer-info-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em 1em 1em 8em;
    }

    #footer-info-row li {
        padding: 0 0.5em;
    }

    /* INDEX */
    .game-cards {
        flex-direction: row;
        width: 70%;
    }

    /* JUEGO DE CARTAS */
    .nombre-jugador-cartas,
    .nombre-jugador-dados {
        width: 50%;
        margin: 1em 2em 2em;
    }

    .nombre-jugador-cartas-hijos,
    .nombre-jugador-dados-hijos {
        margin: 1em;
        font-size: 0.9em !important;
    }

    .solo-cartas {
        display: flex;
        padding: 1em;
    }

    .solo-cartas section {
        padding: 1em;
    }

    .carta {
        height: 220px;
    }

    .label-apuesta,
    .opciones-apuesta {
        font-size: 1em;
    }

    .resultados-parciales {
        display: flex;
    }

    .resultados-parciales p {
        padding: 1em;
        margin: 0.5em 2em 1em;
        font-size: 1.5em;
    }

    .verde,
    .amarillo,
    .rojo {
        padding: 1em;
        font-size: 1.2em;
    }

    /* JUEGO DEL DRAGON */
    #solo-participantes {
        display: flex;
        flex-direction: row;
    }

    .altura-imagenes-dados {
        height: 150px;
    }

    .info-tirada {
        background-color: #24242541;
        margin: 0;
        padding: 1em 16em 13em 16em;
        border-radius: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .info-tirada p {
        font-size: 1em;
    }

    .botones-recuperar-hp {
        display: flex;
        justify-content: center;
    }

    /* REGLAS */

    .dos-columnas {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 900px;
        width: 100%;
    }

    .dos-columnas ul li,
    .dos-columnas div,
    .dos-columnas p {
        max-width: 500px;
        width: 100%;
        padding: 1em;
    }

    .dos-columnas .project-item {
        max-width: 700px;
    }

    .fondo-columnas {
        max-width: 900px;
        width: 100%;
    }

    .imagenes-titulo {
        max-width: 2000px;
        width: 100%;
        margin: 1em 0;
    }

    /* TABLA DE POSICIONES */
    .tabla-posiciones {
        background-color: #e6993cbe;
        margin: 1em;
        padding: 0.5em;
        border-radius: 0.5em;
        font-size: 1.1em;
        box-shadow: 0 4px 10px rgba(51, 12, 75, 0.433);
    }

    .tabla-posiciones h2 {
        margin: 0.2em;
    }

    .tabla-posiciones table {
        background-color: #7c58a3;
        color: #efdfff;
        border-radius: 0.5em;
        padding: 0.5em;
    }

    .tabla-posiciones th {
        padding: 0.5em;
    }

    .tabla-posiciones td {
        background-color: #c095ed;
        padding: 0.5em;
        margin: 0;
        color: #27153a;
    }
}